@*Pagina di successo di un operazione*@
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}


    <div>
        <div class="alert alert-success" role="alert">
            @ViewBag.risposta
        </div>
        <a href="@ViewBag.url" class="btn bg-gradient-green">@ViewBag.link</a>

    </div>

