@model ErasEasy_web.Models.AssociazioneModel

@{
    ViewData["Title"] = "Inserisci Assoiazione";
}

<h1>Inserisci Associazione</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registra" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAss" class="control-label"></label>
                <input asp-for="IdAss" class="form-control" />
                <span asp-validation-for="IdAss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="citta" class="control-label"></label>
                <input asp-for="citta" class="form-control" />
                <span asp-validation-for="citta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stato" class="control-label"></label>
                <input asp-for="stato" class="form-control" />
                <span asp-validation-for="stato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="via" class="control-label"></label>
                <input asp-for="via" class="form-control" />
                <span asp-validation-for="via" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tel" class="control-label"></label>
                <input asp-for="tel" class="form-control" />
                <span asp-validation-for="tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registra" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
