
@{
    ViewBag.Title = "Profilo";
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profilo</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
