@*Pagina successo di un operazione*@
@{
   Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}

    <div>
        <div class="alert alert-success" role="alert">
            @ViewBag.risposta
           

        </div>
            <a href="@ViewBag.url" class="btn bg-gradient-cyan">@ViewBag.link</a>

        </div>

