@*Colleghi del volontario collegato*@
@{
    ViewBag.Title = "Volunteers";
    Layout = "~/Views/Shared/VolontarioMenu.cshtml";
    ErasEasyLife.Volunteer.Volontario v = (ErasEasyLife.Volunteer.Volontario)Session["volontario"];
}

<body>
    @if (v.ruolo != "") //controllo che il volontario sia approvato
    {
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">Volunteers list</h1>
            </div>
        </div>

        <div class="card p-1">
            <div>

                @if (ViewData["volontari"] != null)
                {
                    <div class="row">
                        @{
                            foreach (var volontario in ViewData["volontari"] as IEnumerable<ErasEasyLife.Volunteer.Volontario>)
                            {
                                <div class="col-sm-4">
                                    <div class="card">
                                        <center>
                                            <div class="card-header bg-teal">

                                                <h4> @volontario.nome  @volontario.cognome</h4>
                                            </div>
                                            <div class="card-body bg-light">
                                                <p><i class="fas fa-phone"></i> @volontario.telefono</p>
                                                <p><a href="mailto:@volontario.email"><i class="fas fa-envelope"></i></a> @volontario.email</p>

                                            </div>
                                        </center>
                                    </div>
                                </div>

                            }
                        }

                    </div>
                }

            </div>
        </div>
      
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <b>WARNING! You don't have privileges to access the page.</b><br />
            Your association hasn't confirmed you yet.
        </div>

    }

