@*Pagina errore della sessione *@
@{
    ViewBag.Title = "Errore Sessione";
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}
<center>
    <div>
        <div class="alert alert-danger" role="alert">
            You must be logged or the session is expired. Sign in here
        </div>
        <a href="../Volontario/Login" class="btn bg-gradient-teal">Sign in</a>

    </div>
</center>