@*Errore condiviso tra tutte le pagine del volontario*@
@{
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}


    <div>
        <div class="alert alert-danger" role="alert">
            @ViewBag.risposta
        </div>
        <a href="@ViewBag.url" class="btn bg-gradient-teal">@ViewBag.link</a>

    </div>


